/************************************/
/* Below 1024px */
/************************************/
@media (max-width:64em) {
    .login-panel {
        margin: 0 2rem 0 2rem;
    }

    .panel-left {
        max-width: 40rem;
        padding: 2.6rem;
        height: 52rem;
    }

    .logo {
        width: 4.8rem;
        height: 4.8rem;
    }

    .logo-text {
        font-size: 2.8rem;
    }

    .start-title {
        font-size: 2.2rem;
        line-height: 1.2;
        margin-bottom: 1.6rem;
    }

    .start-describe {
        font-size: 1.2rem;
    }

    /* 轮播图 */
    .carousel {
        height: 18rem;
    }

    .slide {
        height: 16rem;
    }

    .quote-text {
        font-size: 1.4rem;
    }

    /* 右侧表单 */
    .panel-right {
        max-width: 40rem;
    }

    .form {
        padding: 2.6rem;
        gap: 1.8rem;
    }

    .header {
        font-size: 2rem;
    }

    .describe {
        font-size: 1.4rem;
    }

    .label {
        font-size: 1rem;
    }

    .forgot-text:link,
    .forgot-text:visited {
        font-size: 1rem;
    }

    .input {
        padding: 1.2rem;
        font-size: 1.4rem;
    }

    .error-text {
        font-size: 1rem;
        height: .8rem;
    }
}

@media (max-width:56em) {
    .panel-left {
        max-width: 34rem;
    }

    .panel-right {
        max-width: 38rem;
    }

    .help-signup-text,
    .help-signin-text {
        font-size: 1.4rem;
    }
}

@media (max-width:48em) {
    .panel-left {
        max-width: 30rem;
        height: 48rem;
    }

    .carousel {
        height: 16rem;
    }

    .slide {
        height: 14rem;
        padding: 0 1.4rem 1.4rem 1.4rem;
    }

    .quote-text {
        font-size: 1rem;
    }

    .avatar {
        width: 2.8rem;
        height: 2.8rem;
    }

    .user-info {
        font-size: .8rem;
    }

    .input {
        padding: 1rem;
    }

    .title {
        margin: .6rem 0 1.4rem 0;
    }
}

@media (max-width:39em) {
    .login-panel {
        grid-template-rows: 1fr auto;
        grid-template-columns: auto;
        width: 38rem;
    }

    .panel-left {
        display: none;
    }

    .panel-right {
        grid-column: 1 / -1;
        height: 48rem;
        /* max-width: 38rem; */
        /* width: 100%; */
        /* justify-self: stretch; */
    }
}